:root {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --dark-blue-color: #1c2431;
  --background-color: #181f2a;
  --cyan-color: #65e2d9;
  --light-blue-color: #202a3c;
  --footer-color: #0b1523;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 320px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

header > div,
section > div,
footer > div {
  max-width: 1440px;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  float: left;
  max-width: 100%;
  inline-size: max-content;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h2 {
  font-size: 34px;
  line-height: 46px;
  margin: 0;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  margin: 1rem 0;
}

header {
  background-color: var(--dark-blue-color);
  position: fixed;
  z-index: 3;
  width: 100%;
  transition: 0.6s;
}

header ul,
header h1 {
  margin: 0;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 4rem;
  background-color: var(--dark-blue-color);
  transition: 0.6s;
}

header img {
  width: 175px;
  transition: 0.6s;
}

header.sticky {
  opacity: 0.9;
}

header.sticky > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

header.sticky img {
  width: 130px;
}

nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}

nav ul li a {
  letter-spacing: 0.5px;
  white-space: nowrap;

  font-family: 'Poppins', Arial, sans-serif;
  color: #a0a0a0;
  position: relative;
}

nav ul li a:after {
  content: '';
  height: 3px;
  position: absolute;
  width: 0;
  background-color: var(--cyan-color);
  transition: 0.3s;
  left: 0;
  bottom: -10px;
  z-index: 1;
}

nav ul li a:hover {
  cursor: pointer;
  color: #fff;
}

nav ul li a:hover:after {
  width: 100%;
}

.container {
  width: 80%;
  margin-inline: auto;
}

.main {
  position: relative;
  background-color: var(--dark-blue-color);

  text-align: center;
  padding-top: 120px;
  padding-bottom: 200px;
}
.main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main p,
.main h2,
.main img,
.main button {
  z-index: 1;
}
.main img {
  width: 600px;
}

.main h2 {
  margin: 1.5rem 0;
}

.main p {
  margin: 0 0 1.5rem;
}

.blue_button {
  padding: 18px 90px;
  border: 0;
  border-radius: 30px;
  font-weight: 700;
  background: rgb(101, 226, 217);
  background: linear-gradient(
    90deg,
    rgba(101, 226, 217, 1) 0%,
    rgba(51, 158, 204, 1) 100%
  );
  filter: brightness(100%);
  transition: 0.2s;
}
.blue_button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.wave {
}

.wave_svg {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.container_main {
  width: min(720px, 80%);
  margin-inline: auto;
}

.box_icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 50px;
}

.box_icon > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-width: 390px;
}

.box_icon > li:nth-child(2n-1) {
  justify-self: self-end;
}

.box_icon img {
  width: auto;
  height: 88px;
}

.box_icon p {
  font-size: 14px;
  margin: 0;
}

.section_productive {
  padding: 3rem 0;
}

.section_productive a {
  color: var(--cyan-color);
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #65e2d9;
  transition: 0.3s;
}

.section_productive a svg {
  filter: drop-shadow(0 0 6px var(--background-color))
    drop-shadow(0 0 10px #65e2d9) drop-shadow(0 0 14px #65e2d9);
  transition: 0.3s;
}

.section_productive a:hover svg {
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 25px #e60073)
    drop-shadow(0 0 40px #e60073);
}

.section_productive a:after {
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
  background-color: var(--cyan-color);
  transition: 0.3s;
  left: 0;
  bottom: -5px;
  z-index: 1;
}

.section_productive a:hover:after {
  background-color: #fff;
}

.section_productive a:hover {
  color: #fff;
}

.box_flex {
  display: flex;
  column-gap: 60px;
}
.box_flex > div {
  flex: 1 1 45%;
}

.box_flex > div:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.review_slider {
  padding: 30px 0;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.review_slider > div {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.review_slider > div > .container {
  position: absolute;
  z-index: -1;
  top: -5px;
  max-width: 1440px;
  min-width: 320px;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.slider_container {
  display: flex;
  flex-wrap: nowrap;

  animation: 24s slide infinite linear;
}

.slider:hover .slider_container {
  animation-play-state: paused;
}

.slider_container img {
  border-radius: 20px;
  width: 30px;
}

.slider_container p {
  margin-top: 0;
}

.slider_container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-blue-color);
  height: 160px;
  width: 400px;
  padding: 45px 30px;
  margin-inline: 20px;

  -webkit-box-shadow: 8px 8px 24px -2px rgba(23, 23, 33, 1);
  -moz-box-shadow: 8px 8px 24px -2px rgba(23, 23, 33, 1);
  box-shadow: 8px 8px 24px -2px rgba(23, 23, 33, 1);
}

.slider_person {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.slider_person span {
  font-size: 12px;
  line-height: 18px;
}
.slider_person span:first-of-type {
  font-weight: 700;
}

.slider_person > div {
  display: flex;
  flex-direction: column;
}

.subscribe_section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(180deg, transparent 50%, var(--footer-color) 50%);
}

.subscribe_section p {
  margin-bottom: 2rem;
}

.subscribe_section h2 {
  font-size: 30px;
}

.subscribe_box {
  background-color: var(--dark-blue-color);
  padding: 30px 65px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 24px -2px rgba(23, 23, 33, 1);
  -moz-box-shadow: 8px 8px 24px -2px rgba(23, 23, 33, 1);
  box-shadow: 8px 8px 24px -2px rgba(23, 23, 33, 1);
}

.subscribe_box > div {
  display: flex;
  column-gap: 20px;
}

.subscribe_box input {
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  width: -webkit-fill-available;
  border-radius: 30px;
  border: none;
  outline: none;
}

.subscribe_box button {
  padding: 1rem 2rem;
  white-space: nowrap;
  width: max-content;
}

footer {
  background-color: var(--footer-color);
  padding-top: 50px;
  padding: 20px 4rem 60px;
  font-size: 14px;
}

footer > div {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

footer ul {
  margin: 0;
}

.footer_grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 300px 160px 80px 80px 130px;
}

.footer_grid div {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
  row-gap: 1rem;
}

.footer_grid .footer_contact {
  flex-direction: column;
}

.footer_grid .footer_contact div {
  display: flex;
  align-items: center;
}

.footer_grid span {
  column-gap: 10px;
}

footer > div > img {
  width: 100px;
}

footer .footer_icon {
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 100%;
}

footer .footer_icon:hover g {
  fill: var(--cyan-color);
}
footer .footer_icon:hover {
  border-color: var(--cyan-color);
  cursor: pointer;
}

g {
  fill: #fff;
}

.hamburger {
  position: relative;
  display: none;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  z-index: 5;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is_active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is_active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is_active .bar {
  opacity: 0;
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 2;
  background-color: var(--dark-blue-color);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile_nav.is_active {
  left: 100%;
}

.mobile_nav ul {
  flex-direction: column;
  row-gap: 10px;
}

.mobile_nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  border: 2px solid #fff;
  border-radius: 10px;

  color: #fff;
  text-decoration: none;
}

.mobile_nav a:hover {
  border: 2px solid var(--cyan-color);
}

@media (max-width: 1000px) {
  .box_icon {
    column-gap: 10%;
  }

  .subscribe_box > div {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .box_flex {
    flex-direction: column;
    align-items: center;
  }

  .footer_grid {
    grid-template-columns: 300px 160px 80px;
    row-gap: 30px;
  }

  .footer_grid > div:last-of-type {
    grid-column: 1 / end-line;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .footer_grid {
    grid-template-columns: 300px;
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
  }

  .footer_grid > div:last-of-type {
    grid-column: 1 / end-line;
    align-items: center;
    justify-content: center;
  }
  .footer_grid > div:nth-last-of-type(2) {
    grid-column: 1 / 2;
  }
  .footer_grid > div:nth-last-of-type(2) {
    grid-column: 2 / end-line;
  }
}

@media (max-width: 800px) {
  .box_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe_box {
    padding-inline: 50px;
    width: calc(80% - 100px);
  }

  h2 {
    font-size: 22px !important;
    line-height: 30px;
  }

  h3 {
    font-size: 16px !important;
  }

  p {
    font-size: 12px !important;
    line-height: 20px;
  }

  .slider_container > div {
    height: 120px;
    width: 300px;
    padding: 30px 20px;
  }
}

@media (max-width: 750px) {
  header nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile_nav.is_active {
    left: 0;
    display: block;
  }
}

@media (max-width: 650px) {
  .footer_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer_grid > div:last-of-type,
  .footer_grid > div:nth-last-of-type(4) {
    flex: 1 1 100%;
  }

  .subscribe_box {
    padding-inline: 40px;
    width: calc(80% - 80px);
  }
}
